@import 'ember-basic-dropdown';
@import 'ember-power-select';
@import './core';

@font-face {
    font-family: 'ObfuscatedPasswordFont';
    src: url('/ui/write-your-password-with-this-font.eot'); /* IE9 Compat Modes */
    src: url('/ui/write-your-password-with-this-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/ui/write-your-password-with-this-font.woff2') format('woff2'), /* Modern Browsers */
         url('/ui/write-your-password-with-this-font.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}